@use '@/app/general' as *;

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: size(8);
	height: size(8);
	animation: rotate 1s linear infinite;
}

.dot {
	position: absolute;
	width: size(2);
	height: size(2);
	background-color: $colorPrimary;
	border-radius: 50%;
	animation: pulse 1s linear infinite;
}

@keyframes rotate {
	to {
		transform: rotate(-360deg);
	}
}

@keyframes pulse {
	0%,
	60%,
	100% {
		opacity: 0.64;
	}
	30% {
		opacity: 1;
	}
}
