@use '@/app/general' as *;

.container {
	position: fixed;
	right: size(3);
	bottom: size(3);
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: end;
	gap: size(2);
}

.trigger {
	gap: size(1);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1px;
	width: 320px;
	max-height: calc(100vh - 96px);
	background-color: $colorPrimary;
	border: 1px solid $colorPrimary;
	border-radius: size(2);
	overflow: hidden;

	@include mediaMobile {
		width: 286px;
	}
}
