@use '@/app/general' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: size(2);
	color: $colorBackground;
	background-color: $colorPrimary;
	border: 0px;
	border-radius: size(2);
	padding: size(2) size(3);

	@include onHover() {
		cursor: pointer;
		background-color: $colorPrimaryLight;
		border-color: $colorPrimaryLight;
	}

	&Destructive {
		background-color: $colorDestructive;

		@include onHover() {
			background-color: $colorDestructiveLight;
		}
	}
}
