$colorForeground: oklch(12.9% 0.042 264.695);
$colorBackground: oklch(98.4% 0.003 247.858);

$colorMuted: oklch(37.2% 0.044 257.287);
$colorMutedBg: oklch(96.8% 0.007 247.896);

$colorPrimary: oklch(68.5% 0.169 237.323);
$colorPrimaryLight: oklch(74.6% 0.169 237.323);

$colorDestructive: oklch(58.6% 0.253 17.585);
$colorDestructiveLight: oklch(64.5% 0.246 16.439);

$fontSm: 0.8rem;
$fontBase: 1rem;
$fontLg: 1.2rem;
$fontXl: 1.5rem;

$sizeMap: (
	0: 0,
	1: 4px,
	2: 8px,
	3: 12px,
	4: 16px,
	5: 20px,
	6: 24px,
);

@function size($key) {
	@return map-get($sizeMap, $key);
}

@mixin onHover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin mediaMobile {
	@media (max-width: 767.98px) {
		@content;
	}
}
