$colorForeground: oklch(12.9% 0.042 264.695);
$colorBackground: oklch(98.4% 0.003 247.858);
$colorMuted: oklch(86.9% 0.022 252.894);
$colorMutedBg: oklch(55.4% 0.046 257.417);
$colorPrimary: oklch(68.5% 0.169 237.323);
$colorPrimaryLight: oklch(74.6% 0.169 237.323);

$sizeMap: (
	0: 0,
	1: 4px,
	2: 8px,
	3: 12px,
	4: 16px,
	5: 24px,
);

@function size($key) {
	@return map-get($sizeMap, $key);
}

@mixin onHover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin mediaMobile {
	@media (max-width: 767.98px) {
		@content;
	}
}

@mixin button {
	display: flex;
	justify-content: center;
	gap: size(2);
	color: $colorBackground;
	background-color: $colorPrimary;
	border: 1px solid $colorPrimary;
	border-radius: size(2);
	padding: size(2) size(3);

	@include onHover() {
		background-color: $colorPrimaryLight;
		border-color: $colorPrimaryLight;
	}
}
