@use './general' as *;

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: size(3);
}

.link {
	@include button;
	min-width: 96px;
	text-decoration: none;
}
